<section class="bg-main-light shadow p-2 my-5">
    <h1 class="h2 text-main">Update Password Now:</h1>
  
    <form [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
        <div class="my-2">
            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword"
            [ngClass]="{
                'is-valid': !updateForm.get('currentPassword')?.errors && (updateForm.get('currentPassword')?.touched || updateForm.get('currentPassword')?.dirty ),
                'is-invalid': updateForm.get('currentPassword')?.errors && (updateForm.get('currentPassword')?.touched || updateForm.get('currentPassword')?.dirty )
                }"
            >
            @if (updateForm.get('currentPassword')?.errors && (updateForm.get('currentPassword')?.touched || updateForm.get('currentPassword')?.dirty)) {
                <div class="alert alert-danger py-2 my-0">
                    @if (updateForm.get('currentPassword')?.getError('required')) {
                        <p> currentPassword is required</p>
                    }
                    @else if (updateForm.get('currentPassword')?.getError('pattern')) {
                        <p>Enter min 6 char or numor symbol</p>
                    }
                   
                   
                </div>
            }
        </div>
        <div class="my-2">
            <label for="password">password</label>
            <input type="password" id="password" class="form-control" formControlName="password"
            [ngClass]="{
                'is-valid': !updateForm.get('password')?.errors && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty ),
                'is-invalid': updateForm.get('password')?.errors && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty )
                }"
            >
            @if (updateForm.get('password')?.errors && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty)) {
                <div class="alert alert-danger py-2 my-0">
                    @if (updateForm.get('password')?.getError('required')) {
                        <p> password is required</p>
                    }
                    @else if (updateForm.get('password')?.getError('pattern')) {
                        <p>Enter min 6 char or numor symbol</p>
                    }
                   
                   
                </div>
            }
        </div>
        <div class="my-2">
            <label for="rePassword">rePassword</label>
            <input type="password" id="rePassword" class="form-control" formControlName="rePassword"
            [ngClass]="{
                'is-valid': !updateForm.getError('mismatch') && (updateForm.get('rePassword')?.touched || updateForm.get('rePassword')?.dirty ),
                'is-invalid': updateForm.getError('mismatch') && (updateForm.get('rePassword')?.touched || updateForm.get('rePassword')?.dirty )
                }"
            >
            @if (updateForm.getError('mismatch') && (updateForm.get('rePassword')?.touched || updateForm.get('rePassword')?.dirty)) {
                <p class="alert alert-danger py-2 my-0">password and rePassword not match</p>
            }
        </div>
        <button  type="submit" class="btn-main ms-auto d-block">
            @if(isLoading()){
                <i class="fa-solid fa-spinner fa-spin"></i>

            }
            Update Password</button>
    </form>
</section>